
serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
terminal_input serial
terminal_output serial

set timeout=0
set default=0


menuentry "Horus 64-bit Secure Microkernel" {
    insmod multiboot2
    set root=(cd)


    if multiboot2 /boot/kernel.elf; then
        boot
    else
        if multiboot2 /kernel.elf; then
            boot
        fi
    fi
}
